@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primart-color1: 59, 131, 246;
    --primart-color2: 169, 85, 247;
    --primart-color3: 236, 72, 154;
  }
}

.hero-img {
  filter: drop-shadow(0 0 0.75rem white);
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.nav-main {
  filter: drop-shadow(0 0 0.75rem white);
}

.nav-dots {
  transform: scaleX(calc(1 + var(--offset) * -1))
    scaleY(calc(1 + var(--offset) * -1));
  filter: drop-shadow(0 0 0.5rem white);
  transition: all 0.3s;
}

.nav-dots:hover {
  color: rgb(139 92 246 / var(--tw-bg-opacity));
  filter: drop-shadow(0 0 0.75rem rgb(139 92 246 / var(--tw-bg-opacity)));
}

/* stars originating from the top */
@keyframes star-t {
  0%   {
    transform: translate(0, 0);
    opacity: 0;
  }
  50%  {
    opacity: 0.4;
  }
  70%  {
    opacity: 0.4;
  }
  100%  {
    transform: translate(100vh, 100vh);
    opacity: 0;
  }
}

.star-t img {
  animation: star-t 20s linear reverse infinite,
    pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  opacity: 0;
  filter: drop-shadow(0rem 0rem 0.2rem white);
}

.star-t img:nth-child(1) {
  animation-delay: var(--delay);
  width: var(--size);
}

/* stars originating from the bottom */
@keyframes star-b {
  0%   {
    transform: translate(0, 0);
    opacity: 0;
  }
  50%  {
    opacity: 0.4;
  }
  70%  {
    opacity: 0.4;
  }
  100%  {
    transform: translate(-100vh, -100vh);
    opacity: 0;
  }
}

.star-b img {
  animation: star-b 20s linear infinite,
    pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  opacity: 0;
  filter: drop-shadow(0rem 0rem 0.2rem white);
}

.star-b img:nth-child(1) {
  animation-delay: var(--delay);
  width: var(--size);
}